html, body, div
  margin 0
  padding 0
  box-sizing border-box
  font-family sans-serif

a
  color black

li
  list-style none


#home
  position fixed
  top 0
  left 0
  .link
    display block
    width 16px
    height 16px
    background-color black

#body
  max-width 560px
  margin 32px auto
  padding 16px

.post-list
  font-size 15px
  a
    text-decoration none
    .date
      opacity 0.6
      font-weight lighter
    .title
      opacity 0.9
      margin-left 16px
      text-decoration underline

.post
  h1.title
    font-size 24px
    opacity 0.9

  h3.date
    font-size 14px
    font-weight lighter
    opacity 0.6

  .content
    margin-top 32px
    font-size 16px
    line-height 1.45
